<mat-card class="example-card" *ngIf="course$ | async as course">
  <mat-card-header>
    <mat-card-title>{{ course.title }}</mat-card-title>
    <mat-card-subtitle>{{ course.courseStatus }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ course.description }}
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="course">
    <button
      mat-button
      (click)="openLink(course.linkToPage ? course.linkToPage : '')"
    >
      LINK
    </button>
    <button
      mat-button
      (click)="addToCurrent(course.title ? course.title : '')"
      *ngIf="course.courseStatus !== 'started'"
    >
      Add to current
    </button>
    <button
      mat-button
      (click)="addToFinished(course.title ? course.title : '')"
      *ngIf="course.courseStatus !== 'finished'"
    >
      Add to finished
    </button>
  </mat-card-actions>
</mat-card>
